In [1]:
import pandas as pd

from tflump import LineStore, get_tfl_client

bus_store = LineStore(client=get_tfl_client(), mode="bus")
bus_store.load()

print(len(bus_store.stoppoint_store().data))


stoppoints = bus_store.stoppoint_store().dataframe()


stoppoints.head()

19974

,id,stop_letter,name,lat,lon,lines,modes,parent_id,station_id,top_most_parent_id
0,490011760D,D,Royal Free Hospital,51.553947,-0.165511,"[1, 46, c11]",[bus],490G000732,490G000732,490G000732
1,490011714E,E,Rosslyn Hill,51.553441,-0.168286,"[1, 46, c11]",[bus],490G00011714,490G00011714,490G00011714
2,490015255F,F,Haverstock Hill / Pond Street,51.552266,-0.167295,"[1, 268, c11, n5]",[bus],490G00015255,490G00015255,490G00015255
3,490000020L,L,Belsize Park Station,51.550749,-0.165192,"[1, c11, n5]",[bus],490G00020L,490G00020L,940GZZLUBZP
4,490006180S,M,Downside Crescent,51.550027,-0.163866,"[1, c11, n5]",[bus],490G00006180,490G00006180,490G00006180

In [ ]:
def enum_value(e):
    return e.value


# serviceTypes enum
df["serviceTypes"] = df["serviceTypes"].apply(lambda l: [enum_value(e) for e in l])
df["mode"] = df["mode"].apply(enum_value)

df["created"] = pd.to_datetime(df["created"])
df["modified"] = pd.to_datetime(df["modified"])